@import url("https://fonts.googleapis.com/css?family=Condiment|Courgette|ZCOOL+QingKe+HuangYou&display=swap");
@import url("https://fonts.googleapis.com/css?family=Iceland&display=swap");

html {
  scroll-behavior: smooth;
}
body {
  height: 100vh;
}
#nav {
  background-color: rgba(149, 216, 179, 0.8);
}

ul {
  list-style-type: none;
}

#nav a {
  text-shadow: 3px 3px 3px rgb(133, 38, 177);
  background-color: rgba(149, 216, 179, 0.8);
}

#h1 {
  font-family: "ZCOOL QingKe HuangYou";
  /* font-family: "Iceland"; */
  text-shadow: 0 0 42px #fff, 0 0 40px #fff, 0 0 30px #e60073, 0 0 28px #e60073,
    0 0 21px #e60073, 0 0 14px #4cd6ad, 0 0 7px #4cd6ad;
}

.results {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

#h2 {
  font-family: "Courgette";
  text-align: center;
  font-size: 40px;
  color: rgb(229, 253, 240);
  text-shadow: 3px 3px 3px rgb(150, 12, 214);
  text-shadow: -2px 0 rgb(150, 12, 214), 0 2px rgb(150, 12, 214),
    20px rgb(76, 6, 109);
}

.btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 20rem;
}

.btnDiv {
  max-width: 17em;
  padding-left: 2rem;
}

#list-group {
  background: linear-gradient(
      217deg,
      rgba(225, 0, 255, 0.575),
      rgba(255, 0, 212, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.425), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.486), rgba(0, 0, 255, 0) 70.71%);
  border-radius: 30%;
  width: auto;
}

#list-group li {
  text-decoration-color: none;
  color: rgb(96, 209, 147);
  text-shadow: 3px 3px 3px rgb(133, 38, 177);
}

main {
  background-image: url("../img/Audio-Waveforms-Featued-Image.jpg");
  min-height: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

button {
  border-style: none;
  background-color: transparent;
  width: 15rem;
}

.button-image {
  border-radius: 50%;
  border: 4px solid rgba(164, 199, 109, 0.8);
  max-width: 85%;
}

#animation {
  animation: bounce-in-bottom 1.1s 1 both;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0px 10em 0 10em;
  /* height: 44em;
   overflow: scroll; // cudiado en mobile here */ 
}

.btn-container {
 padding-top: 2em;
}

.top {
  color: rgba(10, 10, 9, 0.596);
  float: right;
  font-size: 1.8em;
  text-shadow: 0 0 12px #fff, 0 0 10px #fff, 0 0 10px #5342a0,
    0 0 18px #5342a0a2, 0 0 11px #5342a0a2, 0 0 4px #4cd6ad, 0 0 3px #4cd6ad;
  transform: translate(1.8em, 3.3em);
}

.top p {
  font-size: 0.7em;
  font-weight: bold;
  font-family: "Iceland";
  text-decoration: underline;
  transform: translateX(-0.4em);
}

.fa-angle-down {
  font-size: 2.5em;
}

.loading {
  font-family: "Courgette";
  color: rgba(41, 41, 37, 0.637);
  font-size: 1.8em;
  text-shadow: 0 0 12px rgb(235, 224, 69), 0 0 10px rgb(235, 177, 69),
    0 0 10px #5342a0, 0 0 18px #5342a0a2, 0 0 11px #5342a0a2, 0 0 4px #4cd6ad,
    0 0 3px #4cd6ad;
}

@media screen and (max-width: 600px) {
  #animation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #h1 {
    font-size: 3.5rem;
  }

  #h2 {
    font-size: 1.5rem;
    transform: translateY(13px);
  }

  .btnDiv {
    max-width: 10rem;
  }

  .button-image {
    border-radius: 50%;
    border: 2px solid rgba(164, 199, 109, 0.8);
    max-width: 60%;
    float: left;
    transform: translateY(1px);
  }

  button {
    max-width: 135px;
    padding-left: 20px;
  }

  .btn-container {
    width: 17em;
    display: flex;
    padding: 0;
  }

  .results h1 {
    font-size: 3.5rem;
  }

  .fa-angle-down {
    font-size: 0.9em;
  }

  iframe {
    max-width: 5.8em;
  }

  #list-group li {
    transform: translateX(-0.3em);
  }
  .top {
    transform: translate(2em, 4.5em);
    font-size: 1.5em;
    text-shadow: 0 0 12px #fff, 0 0 10px #fff, 0 0 10px #5342a0,
      0 0 18px #5342a0a2, 0 0 11px #5342a0a2, 0 0 4px #4cd6ad, 0 0 3px #4cd6ad;
  }

  .top p {
    transform: translateX(-0.4em);
  }

  .loading {
    font-size: 1.3em;
  }
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #4cd6ad, 0 0 70px #4cd6ad;
  }

  to {
    text-shadow: 0 0 30px #fff, 0 0 40px #ff4da6, 0 0 50px #ff4da6,
      0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #66e6bf, 0 0 90px #66e6bf;
  }
}

@keyframes bounce-in-bottom {
  0% {
    transform: translateY(500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}
