html{
  margin:0;
  padding:0;
}

body{
  height: 100%;
  background-image: url("../img/Audio-Waveforms-Featued-Image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin:0;
  padding:0;
  overflow: hidden;
}


.main-forms {
    margin-top: 75px;
    padding: 30px;
  }
  
  .main-forms, h2{
    text-align: center;
    color: white;
    text-shadow: 3px 3px 3px rgb(133, 38, 177);
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  }
  
  .form-wrapper {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .form-wrapper > form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
  }
  
  input {
    margin: 10px;
    height: 40px;
    border: none;
    border: solid 2px rgba(133, 38, 177, 0.3);
    text-align: center;
    font: inherit;
  }
  
  button, .button {
    height: 40px;
    width: 180px;
    margin-top: 30px;
    background-color: rgb(149, 216, 179);
    color: white;
    border: none;
    box-shadow: 3px 3px 3px rgb(133, 38, 177);
    font-size: 20px;
    font: inherit;
    align-self: center;
  }

  .login{
    color: white;
  }

  video{
    margin:0;
    padding:0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } 

  @media screen and (max-width: 600px) {
    video{
      width:auto;
      height: auto;
    }
  }