@import url('https://fonts.googleapis.com/css?family=Condiment|Courgette|ZCOOL+QingKe+HuangYou&display=swap');
#nav{
  background-color: rgba(149, 216, 179, 0.8)
}

html{
  height: 100vh;
}

body{
  height: 100vh;
}


.mask{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%); 
}
.view {
  background-image: url("./img/moonColorednew.png");
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
  color: white;
}

#main-image{
  background-size: 100%;
}


.mask > h1{
  font-family: 'ZCOOL QingKe HuangYou';
  text-shadow: 3px 3px 3px rgb(133, 38, 177);
}

.mask > h4{
  font-family: 'Courgette';
  color: rgb(96, 209, 147);
  text-shadow: 3px 3px 3px rgb(133, 38, 177);
}


.moods {
  position: relative;
  text-align: center;
  color: white;
}
#text{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

a{
text-shadow: 3px 3px 3px rgb(133, 38, 177);
background-color:  rgba(149, 216, 179, 0.8);
}




@media screen {
  * {
      background-size: 100%
  }
}