@import url('https://fonts.googleapis.com/css?family=Condiment|Courgette|ZCOOL+QingKe+HuangYou&display=swap');
#nav{
  background-color: rgba(149, 216, 179, 0.8)
}

html{
  height: 100vh;
}

body{
  height: 100vh;
}


.mask{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%); 
}
.view {
  background-image: url(./img/moonColorednew.png);
    height: 100%;
    background-size: cover;
    background-position: center;
  position: relative;
  text-align: center;
  color: white;
}

#main-image{
  background-size: 100%;
}


.mask > h1{
 /* font-size: 100px;*/
  font-family: 'ZCOOL QingKe HuangYou';
}

.mask > h4{
 /* font-size: 40px;*/
  font-family: 'Courgette';
  color: rgb(255,215,0)
}


.moods {
  position: relative;
  text-align: center;
  color: white;
}
#text{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

/*
.mask > h1
.disable-responsive-font-size .mask > h1,
.mask > h1.disable-responsive-font-size  {
  font-size: 4rem;
}
 
@media (max-width: 1200px) {
  .mask > h1 {
    font-size: calc(1.6rem + 3.2vw);
  }
}*/



@media screen {
  * {
      background-size: 100%
  }
}